.main,.headers{
    font-family: "Tauri", sans-serif;

}

@keyframes spin-fast {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-fast {
    animation: spin-fast 0.5s linear infinite;
  }