@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.checkTest {
  max-height: calc(100vh);
  overflow-y: scroll;
  background-color: "red";
}

.sidebar {
  width: 250px;
  /* height: 100vh; */
  /* min-height: 100vh; */
  transition: width 0.3s ease;
}
.sidebar.open {
  width: 0px;
}
@media only screen and (min-width: 640px) {
  .sidebar.open {
    width: 50px;
  }
}

.sidebar-toggler {
  position: fixed;
  top: 20px;
  left: 20px;
}

.alegreya {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
